/* topheader css */
.topheader img{
  width:40%;
  height:5rem;
  object-fit:contain;
  margin: auto;
}
a{
color: #181870 !important;
text-decoration: none !important;
font-weight: bold !important;
}

body{
  background-color: #e6e6e6 !important;
}

a:hover{
    text-decoration: underline solid rgb(24,24,112) !important;
    /* text-underline-offset: 1px; */
}

.naira-bg{
  background-color: #f6f6ec !important;
}

.topheader{
  background-color: #f6f6ec !important;
 
  text-decoration: none ;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  border-color: #c8ccc0;
}
.topheader p:nth-child(1){
  margin-bottom: -1rem;
}

.card{
  border-color: #c8ccc0;
  /* box-shadow: rgb(200,200,200) 1px 1px 7px 0px !important; */

  
}
.card-header:nth-of-type(even){
  background-color: #f6f6ec !important;
}

.my-box-shadow{
  box-shadow: rgb(200,200,200) 1px 1px 7px 0px !important;
}

.card-header:nth-of-type(odd){
  background-color: #e8ece0 !important;
}

hr{
  border: none;
  margin: 3px;
  height: 1px;
  background: #d9d9d9;
  background: linear-gradient(90deg,#f6f6ec,#d9d9d9,#d9d9d9,#f6f6ec);
}